@import "../colors";

.landing-div {
  min-height: calc(100vh - 5.7em);
  display: flex;
  margin: 0;
  padding: 0;
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../resources/landing-bg-poster.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron-login {
  position: absolute;
  right: 12vw;
  display: block;
  float: right;
  padding: 2rem 1rem;
  margin-bottom: 4rem;
  margin-top: 3rem;
  background-color: lighten($gold, 50);
  border-radius: 0.25rem;
  width: 25em;
}
@media only screen and (max-width: 600px) {
  .jumbotron-login {
    right: 0;
    float: unset;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    height: 60vh;
  }
}

.btn-sign-up {
  background-color: lighten($gold, 50);
  color: $primary-red;
  width: fit-content;
  padding-left: 0;
  margin-left: -1.5em;
}
.btn-sign-up:hover {
  background-color: lighten($gold, 50);
  color: $primary-red;
  text-decoration: underline;
}

.signup-row {
  margin-top: 5em;
  align-items: center;
}