@import "../colors";

.th {
  background-color: lighten($light-gold, 10);
}

.btn-link {
  width: fit-content;
}

.report-dropdown-btn:active {
  border: 1px $gold;
  box-shadow: none;
}
.report-dropdown-btn:focus {
  border: 1px $gold;
  box-shadow: none;
}

.archiving-state-modal-title {
  font-size: medium;
}