@import "../colors";

.btn-initials {
  background-color: $light-gold;
  width: 2.5em;
  height: 2.5em;
  padding: 6px 0px;
  border-radius: 8em;
  text-align: center;
  color: white;
}

.btn-autosuggest {
  border: 1px solid $brownish-gray;
  color: $brownish-gray;
  margin-right: .5em;
  margin-bottom: .2em;
}
.btn-autosuggest:hover {
  background-color: $gray-lightest;
}