@import "../colors";

.form-control:focus {
  color: $gray-dark;
  background-color: #fff;
  border-color: $gold;
  outline: 0;
  box-shadow: 0 0 0 0.07em $light-gold;
}
.form-control::placeholder {
  color: $brownish-gray;
  opacity: 1;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $light-gold;
  background-color: lighten($light-gold, 20);
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0 black;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: lighten($light-gold, 30);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: lighten($light-gold, 30);;
  border-color: lighten($light-gold, 20);;
}
.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
  color: $brownish-gray;
}
.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #007bff;
  background-color: #007bff;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}
.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.was-validated .form-control:valid, .form-control.is-valid {
  border-color: $green;
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: $green;
  box-shadow: 0 0 0 0 black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}