@import "../colors";

.fa-check-circle {
  color: $green ;
  font-size: 1.2em;
  margin-right: .2em;
}

.fa-times-circle {
  color: $brick-red ;
  font-size: 1.2em;
  margin-right: .2em;
}

.fa-times-circle-close {
  color: $primary-red;
  font-size: 1.1em;
  margin-right: 0;
  margin-left: .5em;
}

.fa-file-download {
  color: $brownish-gray ;
  font-size: 1.5rem;
}
.fa-file-download:hover {
  color: $gold;
  cursor: pointer;
}
.fa-file-download-rem4 {
  font-size: 1.4rem;
}

.fa-file-upload {
  color: $brownish-gray ;
  font-size: 1.5rem;
}
.fa-file-upload:hover {
  color: $gold;
  cursor: pointer;
}

.fa-info-circle {
  color: $brownish-gray ;
  font-size: 1.4rem;
}
.fa-info-circle:hover {
  color: $gold;
  cursor: pointer;
}
.icon-invisible {
  color: transparent;
}
.icon-invisible:hover {
  color: transparent;
  cursor: auto;
}

.fa-search {
  color: $brownish-gray;
  font-size: 1em;
}

.fa-check-circle-regular {
  color: $green;
  background-color: white;
  font-size: 1.2em;
  margin-left: -.7em;
  margin-top: -1em;
  padding-top: 0;
  margin-right: .5em;
  border-radius: 2rem;
}

.fa-file-archive {
  color: white;
  font-size: 1.3em;
}

.fa-comment-dots {
  color: lighten($light-gold, 15);
  font-size: .9em;
}

.fa-chevron-up {
  margin-right: -.4em;
}
.fa-chevron-down {
  margin-right: -.4em;
}