@import "colors";

.badge-regNr {
  padding: .5rem .3rem;
  color: darken($gold, 15);
  font-size: medium;
}

.badge-archived {
  background-color: lighten($green, 40);
  text-align: center;
  color: black;
}

.badge-notarchived {
  background-color: lighten($brick-red, 40);
  text-align: center;
  color: black;
  alignment-baseline: middle;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}