$primary-red: #ac1b21;
$red: #d01a14;
$orange: #c73619;
$brick-red: #9d3528;
$dark-brick-red: #632319;
$gold: #bd8f3a;
$light-gold: #c6ad82;
$dark: #080505;
$brownish-gray: #4f4538;
$light-gray: #b6a999;
$green: #659816;

// Create grayscale
$gray-dark:                 #292b2c;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;