@import "colors";

$nav-link-color: $gray-lightest;
$nav-link-color-hover: $gold;

.navbar {
  height: 3.5em;
}

.nav-link {
  color: $nav-link-color;
}
.nav-link:hover {
  color: $nav-link-color-hover;
  text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
  color: $nav-link-color;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: $nav-link-color-hover;
  text-decoration: underline;
}

.fa-home{
  color: $nav-link-color;
}
.fa-home:hover {
  color: $nav-link-color-hover;
}
