:root {
  --primary: #c11f22;
  --secondary: #202020;
  --success: #c6ad82;
  --light: #ffffff;
  --dark: #000000;
}

.white-red-hover {
  color: var(--light);
}

.custom_nav_dropdown {
  align-self: flex-end !important;
}
