@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "colors.scss";


// Colors
$theme-colors: (
        "primary": $primary-red ,
        "secondary": $gold,
        "info": $light-gold,
        "success": $green,
        "warning": $brick-red,
        "danger": $red,
        "dark": $dark,
        "light": #ffffff
);

$brand-primary: $primary-red;
$brand-success: $green;
$brand-info: $light-gold;
$brand-warning: $brick-red;
$brand-danger: $red;
$brand-inverse: $dark;


// Options
$enable-rounded:            true;
$enable-shadows:            true;


// Buttons
$btn-link-disabled-color:        $brownish-gray;
$btn-focus-box-shadow:           none;

// Links
$link-color:                              darken($brownish-gray, 10);
$link-decoration:                         none;
$link-hover-color:                        $gold;
$link-hover-decoration:                   none;


// Forms
$input-color:                    $gray-dark;
$input-color-placeholder:        $brownish-gray;

$custom-file-height:           2.5rem !default;
$custom-file-width:            14rem !default;
$custom-file-focus-box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem $brand-primary !default;
$custom-file-padding-x:     .5rem !default;
$custom-file-padding-y:     1rem !default;
$custom-file-line-height:   1.5 !default;
$custom-file-color:         $gray !default;
$custom-file-bg:            $red;
$custom-file-border-width:  $border-width !default;
$custom-file-border-color:  $input-border-color !default;
$custom-file-border-radius: $border-radius !default;
$custom-file-box-shadow:    inset 0 .2rem .4rem rgba($black,.05) !default;
$custom-file-button-color:  $custom-file-color !default;
$custom-file-button-bg:     $gray-lighter !default;
$custom-file-text: (
        placeholder: (
                en: "Choose file..."
        ),
        button-label: (
                en: "Browse"
        )
) !default;


// Pagination
$pagination-color:                     $brownish-gray;
$pagination-bg:                        $white;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              #ddd !default;

$pagination-hover-color:               $gold;
$pagination-hover-bg:                  #e9ecef;
$pagination-hover-border:              #dee2e6;

$pagination-active-color:              $white;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;
$pagination-active-border-color:       darken($brand-primary, 10);


// Jumbotron
$jumbotron-bg:                   $white;


//@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/jumbotron";
